---
---

.mt-10 {
  margin-top: 10px;
}

.amiso__feature__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Center items by default */
}

.amiso__feature__item__teaser {
  width: 80%;
  margin: 0 auto; /* Centering the item */
  display: block; /* Ensure this element is treated as a block-level element for margins to take effect */
}

.amiso__full__height {
  height: 100%;
}

.amiso__flex__col {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Align one item to the top, the other to the bottom */
}

.amiso__feature__grid__item {
  width: calc(50% - 10px); /* Adjust for gap */
}

/* Responsive adjustment for narrower screens */
@media (max-width: 600px) {
  .amiso__feature__grid__item {
    width: 100%; /* Full width for single column layout */
  }
}
