.page {
    width: 100%;
    float: left;
}

#red {
    color: red;
}

#page-title{
    display: none;
}

#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#countdown {
    width: 60%;
}

#logo {
    width: 40%;
    /* margin: 0 auto; */
}

